div(id="navigation")
    header(id="site-header")
        div(class="profile")
            if true
                a(href=theme.profile.href title=config.author)
                    img(src=config.root+theme.imglogo.src)
            else
                a(href="#" title=config.author)
                img(src=config.root+theme.imglogo.src)
            p(class="site-subtitle")=config.subtitle
            p(class="site-description")=config.description
    div(class="main-sidebar")
        aside(id="site-nav" class="widget widget-nav-menu")
            nav
                ul
                    each value,key in theme.menu
                        li
                            a(href=value)=key
        -var widgets=theme.widgets;
        -widgets.forEach(function(item){
            -if(item== "category"){
                include ../_widget/categories.jade
            -}else if(item == "archive"){
                //include ../_widget/archive.jade
            -}else if(item== "tag"){
                include ../_widget/tags.jade
            -}
        -})

