section(class="article-list")
    -page.posts.each(function(item){
    article
        header(class="article-header")
            h1(class="article-title")
                a(href="#{item.path}")= item.title
            div(class="article-meta")
                span(class="sep")
                    span(class="post-format")
                        i(class="icon-file-text")
                span(class="posted-on")
                    i(class="icon-calendar-empty")
                    time(class="article-date published" datetime="#{item.updated}")= item.date.format(config.date_format)
        div(class="article-content")
            if item.description
                p(itemprop="description")= item.description
            else if item.excerpt
                p(itemprop="description")= strip_html(item.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140)+"……"
            else
                p(itemprop="description")= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140)+"……"
            a(class="more-link" href="#{config.root}#{item.path}")
                span(class="btn btn-small")= theme.excerpt_link
    -})
include _partial/pagination