if (page.prev || page.next)
div(class="article-pagination pager")
    if (page.prev)
        div(class="nav-previous")
            a(href="#{config.root}#{page.prev.path}" title="#{page.prev.title}" class="prevpage")
                span(class="meta-nav btn")
                    i(class="icon-chevron-left")
                if page.prev.title
                    span(class="pager-title")= page.prev.title
                else
                    span(class="pager-title")  (no title)
    if (page.next)
        div(class="nav-next")
            a(href="#{config.root}#{page.next.path}" title="#{page.prev.title}" class="nextpage")
                if page.next.title
                    span(class="pager-title")= page.next.title
                else
                    span(class="pager-title")  (no title)
                span(class="meta-nav btn")
                    i(class="icon-chevron-right")


