div(id="navigation")
	header(id="site-header")
		div(class="profile")
			if true
				a(href="#{theme.profile.href}" title="#{config.author}")
					img(src="#{theme.imglogo.src}")
			else
				a(href="#" title="#{config.author}")
				img(src="#{theme.imglogo.src}")
			p(class="site-subtitle") #{config.subtitle}
			p(class="site-description") #{config.description}
	div(class="main-sidebar")
		nav
			ul
				each value,key in theme.menu
					li
						a(href="#{value}")=key